@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
}



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #71289C;
    padding: 20px 50px;
}

#title {
    margin-right: auto;
}

/* nav {
    display: flex;
    width: 100%;
    background-color: #71289C;
    align-items: center;
    height: 100px;
} */

/* nav ul {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
} */

header li {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    list-style: none;
    margin-left: 50px;
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

header li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px; /* largura da barra vertical */
    height: 100%;
    background-color: white; /* cor da barra vertical */
}

.homeSection {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.homeSection img { 
    position: absolute;
    width: 100%;
    height: 100%;
}

#robocupTitle {
    z-index: 1;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 150px;
    opacity: 0.5;
}


.infoSection {
    position: relative;
    min-height: 100vh;
    min-width: 100%;
    margin-top: 100px;
}

/* .infoSection .info1:nth-child(1) img {
    position: absolute;
    height: 130px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
}

.infoSection .info1:nth-child(2) img {
    position: absolute;
    height: 230px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
}


.infoSection .info1:nth-child(3) img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 95px;
} */

.info1 {
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 200px;
    justify-content: center;
}

.info1 img {
    height: 100%;
    width: 100%;
}

.divButton {
    position: absolute;
    height: 30px;
    bottom: 0;
    width: 300px;
}

.info1 p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 50px;
    text-align: justify;
    max-width: 100%;
}

.info1 button {
    position: absolute;
    bottom: 100px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    background-color: #ef45f560;
}

.img-container {
    position: relative;
    padding: 50px;
    height: 250px;
    width: 250px;
}

.p-container {
    position: relative;
    height: 350px;
    width: 300px;
}

@media only screen and (max-width: 1150px) {
    #robocupTitle {
        font-size: 100px;
    }
}


@media only screen and (max-width: 720px) {
    #robocupTitle {
        font-size: 50px;
    }
}


@media only screen and (max-width: 440px) {
    .info1 button {
        width: 150px;
        float: right;
    }
    /* .infoSection .info1:nth-child(1) img {
        width: 5px;
    }
    .infoSection .info1:nth-child(3) img {
        height: 45px;
    } */
    
}

footer {
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    background-color: black;
}

@media only screen and (max-width: 410px) {
    .info1 {
        flex-wrap: wrap;
    }
    .p-container {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        height: 150px;
    }
    .info1 p {
        padding: 0;
    }

    .info1 button {
        bottom: 0;
    }
}